<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shoppingcart</servlet-name>
        <servlet-class>servlets.Shoppingcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>servlets.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>servlets.order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>servlets.payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBill</servlet-name>
        <servlet-class>servlets.SearchBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shoppingcart</servlet-name>
        <url-pattern>/Shoppingcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBill</servlet-name>
        <url-pattern>/SearchBill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>denglu.jsp</welcome-file>
    </welcome-file-list>
</web-app>
